* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  } 
   
  .container { 
    width: 1170px; 
    margin: 0 auto; 
  } 
   
  body { 
    font-family: Montserrat; 
  } 
   
  .main__wrap { 
    display: flex; 
  } 
  .main__title { 
    color: #156963; 
    font-size: 68px; 
    font-weight: 500; 
  } 
  .main__texts { 
    padding: 186px 72px 110px 72px; 
  } 
  .main__text { 
    color: #2C1500; 
    font-weight: 400; 
    font-size: 18px; 
  } 
  .main__btns { 
    display: flex; 
    margin-right: -100px; 
  } 
  .main__btn { 
    display: flex; 
    flex-direction: column; 
    padding: 38px 50px; 
  } 
  .main__btn_g { 
    background-color: #156963; 
  } 
  .main__link { 
    color: rgba(51, 51, 51, 0.4823529412); 
    font-weight: 500; 
    font-size: 24px; 
    text-decoration: none; 
    margin-bottom: 13px; 
    display: flex; 
    align-items: center; 
  } 
  .main__link_p::before { 
    content: ""; 
    display: block; 
    width: 21px; 
    height: 18px; 
    background: url(../img/icons/arrow-back.svg) no-repeat center center/cover; 
    margin-right: 13px; 
  } 
  .main__link_n { 
    color: #f2f2f2; 
  } 
  .main__link_n::after { 
    content: ""; 
    display: block; 
    width: 21px; 
    height: 18px; 
    background: url(../img/icons/arrow-forward.svg) no-repeat center center/cover; 
    margin-left: 13px; 
  } 
  .main__info { 
    color: #156963; 
    font-size: 32px; 
    font-weight: 500; 
  } 
  .main__info_w { 
    color: #fff; 
  }